* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#myHeading {
    color: maroon;
}
h1 { 
  font-family:'Indie Flower', cursive;
  font-size: 30px
}
h2 { 
  border-bottom: 2px solid black;
  padding: 25px;
  background-color: lightblue;
  background-repeat: no-repeat;
  font-family:'Indie Flower', cursive;
  text-align: center;
}
.container {
    background-color: lightcyan;
    border: 2px solid black
}

.holly {
    font-family:'Indie Flower', cursive;
    font-size: 35px;
}

.row {
    text-align: center;
}

.col-sm-8 {
    text-align: left;
}

.caption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}   

.footer {
    padding: 30px;
    clear: both;
    font-family:'Indie Flower', cursive ;
    text-align: center;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: .7;
  }
  
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}